{% extends 'core/base.html' %}

{% block content %}
<div class="projects-container" style="padding: 100px 20px; text-align: center;">
    <h1>Projects</h1>
    <div class="country-list"
        style="margin-top: 50px; display: flex; justify-content: center; gap: 30px; flex-wrap: wrap;">
        {% for country in countries %}
        <a href="{% url 'project_list_by_country' country.name %}" class="map-point point-{{ country.name|lower }}"
            data-country="{{ country.name }}">
            <div class="point-dot"></div>
            <span class="point-label">{{ country.name }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
    .country-item {
        transition: transform 0.3s ease;
    }

    .country-item:hover {
        transform: scale(1.2);
    }
</style>
{% endblock %}